/* --Variables-- */
:root {
    --color-background-body: #c2f0f3;
    --color-background-header: #71b8bb;
    --color-background-nav: #999999;
    --color-background-a: rgb(138, 43, 226);
    --color-hr: #ffffff1a;
    --color-text: #cfcfcf;
    --color-text-plus: #f5f5f5;
    --color-oscuro: #1a1a1a;
    --color-modoOscuro:#232020;
} 


/* --body-- */
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: var(--color-background-body);
        transition: background-color 0.3s ease, color 0.3s ease;
    line-height: 1.8; /*requisitos del tpº2*/
}


nav button{
    background-color: var(--color-oscuro);
    color: var(--color-text-plus);
}


body.modo-oscuro{
    background-color: var(--color-modoOscuro);
    color: var(--color-text);
}

.fondo-nav{
    background-color: var(--color-background-header) !important;
}

/* --header-- */
header{
    background-color: var(--color-background-header); /*requisitos del tpº2*/
    position: sticky;
    top: 0;
}

/* --a-- */
a{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

a:hover{
    color: var(--color-background-a);
}

/* --nav-- */
nav{
    padding: 15px;
    display: flex;
}

.nav{
    background-color: var(--color-background-nav);
}

/* --h1-- */
h1{
    font-size: 1.2em;
    padding-top: 15px;
}

/* --ul-- */
ul{
    list-style: none;
}

/* --img-- */
img{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 5px;
    border-radius: 10px;
}


section input{
    padding: 10px 14px;
    border-radius: 5px;
}


input::placeholder{
    font-size: 1.3em;
}

.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* --section-- */
.index-section-1{
    text-align: center;
    margin: 10px;
}


/* HOVER (solo imagen) */
.img1:hover{
    filter: brightness(1); 
    transform: scale(1.08); 
}


/* --footer-- */


.footer-popt {
    background: var(--color-oscuro);
    color: var(--color-text-plus);
    padding: 60px 0 20px;
    margin-top: 80px;
}

.footer-popt h4, h5{
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-popt p {
    color: var(--color-text);
    line-height: 1.7;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: var(--color-text);
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--color-background-header);
}

.footer-popt hr {
    border-color: var(--color-hr);
    margin: 30px 0 20px;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}

